<h1>MMIchat</h1>
<h3>Chat de discussion pour la promo MMI</h3>
<% if user_signed_in? %>
    <p class="center">Bienvenue, <span class="bold"><%= current_user.email %></span>.</p>
    <div class="button" style="margin-bottom: 10px;"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></div>
<% else %>
        <div class="button" style="margin-bottom: 10px;"><%= link_to 'Sign up',  new_user_session_path %></div>
        <div class="button" style="margin-bottom: 10px;"><%= link_to 'Sign in', user_session_path %></div>
<% end %>

<div class="chatbox">
    <% Message.all.reverse_each do |m| %>
        <p class="message"><span class="user bold"><%= m.user.email %></span> <br />(<%= I18n.l(m.created_at, format: :short) %>)<br /><%= m.content %></p>
    <% end %>
</div>

<% if user_signed_in? %>
    

    <%= simple_form_for @message, url: messages_path(@message) do |f| %>
        <div class="form-inputs">
            <%=
                f.label :content,
                'Message:'
            %>
            <%= 
                f.input :content,
                label: false,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "test" }
            %>
        </div>
        <div class="form-actions">
            <%= 
                f.button :submit, "Envoyer"
            %>
        </div>
    <% end %>

<% else %>
    <p class="center red">Veuillez vous connecter pour pouvoir discuter.</p>
<% end %>